a {
  color: white;
  text-decoration: none;
}

.home {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game, .join-game, .find-game {
  margin-bottom: 16px;
}